body{
	background-color: black;
	overflow-x: hidden;
}

.terminaldiv{
	position: center;
	margin-top: 80px;
	margin-left: 100px;
	margin-right: 100px;
}

.toolbar{
	background-image: url('../img/ToolBar.png');
	height: 30px;
	border-radius: 5px 5px 0px 0px;
}

.toolbar .title{
	color: lightgrey;
	display: block;
	font-family: 'Ubuntu Mono', monospace;
	padding: 5px 100px 5px 525px;
}

.terminal{
    --color: green;
    --background: rgb(48,10,36);
    animation: terminal-bar;
    width: 100%;
    height: 350px;
    opacity: 0.95;
    font-family: 'Ubuntu Mono';
}

.heading{
    text-align: center;
    font-family: "Ubuntu Mono";
    font-style: normal;
    color: white;
    height: 150px;
}

.typed{
	font-size: 60px;
}

.quote{
	margin-top: 10px;
	font-size: 30px;
}
