@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/ubuntu.woff) format('woff');
}

body{
	background-image: url('../gifs/SolarSystem.gif');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height:100%;
	width:100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.terminaldiv{
	max-width: 85%;
	position: center;
	margin-top: 220px;
	margin-left: 100px;
	margin-right: 100px;
}

.toolbar{
	background-image: url('../img/ToolBar.png');
	height: 30px;
	border-radius: 10px 10px 0px 0px;
}

.toolbar .title{
	color: lightgrey;
	display: block;
	font-family: 'Ubuntu';
	padding: 5px 100px 5px 525px;
}

.toolbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.toolbar li{
	float: right;
}

.toolbar li a{
	display: block;
	color: white;
	text-decoration:none;
	padding: 5px 10px 5px 0px;
}

.terminal {
 --color: green;
 --background: black;
 --animation: terminal-bar;
}

#Minimize{
	background-image: url('../img/Minimize.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	float: right;
}

#Maximize{
	background-image: url('../img/Maximize.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	float: right;
}

#Close{
	background-image: url('../img/Close.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	float: right;
}
