body{
	background-color: black;
	overflow-x: hidden;
}

.terminaldiv{
	position: center;
	margin-top: 60px;
	margin-left: 100px;
	margin-right: 100px;
}

.toolbar{
	background-image: url('../img/ToolBar.png');
	height: 30px;
	border-radius: 5px 5px 0px 0px;
	padding-left: 12px;
	position: relative;
	user-select: none;
}

.buttons{
	position: absolute;
	top: 6px;
}

.button{
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 3px;
}

.xbut{
	background: rgba(0, 0, 0, 0) url('../img/Close.png') no-repeat center center / cover;
}

.maxbut{
	background: rgba(0, 0, 0, 0) url('../img/Maximize.png') no-repeat center center / cover;
}

.minbut{
	background: rgba(0, 0, 0, 0) url('../img/Minimize.png') no-repeat center center / cover;
}

.title{
	color: lightgrey;
	display: block;
	font-family: 'Ubuntu Mono', monospace;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.terminal{
    --color: rgb(0,255,0);
    --background: rgb(48,10,36);
    animation: terminal-bar;
    width: 100%;
    height: 350px;
    font-family: 'Ubuntu Mono';
}

.heading{
    text-align: center;
    font-family: "Ubuntu Mono";
    font-style: normal;
    color: white;
    height: 150px;
	margin-top: 30px;
}

.typed{
	font-size: 60px;
}

.quote{
	margin-top: 10px;
	font-size: 30px;
}
