@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(./fonts/ubuntu.woff) format('woff');
}

body{
	/*background-image: url('./gifs/SolarSystem.gif');*/
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    height:100%;
    width:100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

div{
	display: block;
}

.terminal{
	margin: 0 auto;
	/*max-width: 1300px;*/
	padding: 0 60px;
}

.toolbar{
	background-image: url('./img/toolbar.png');
	position: relative;
	height: 30px;
	border-radius: 10px 10px 0px 0px;
	margin-top: 20px;
}

/*.toolbar .title{
	color: #000;
	display: block;
	font: "Ubuntu";
	line-height: 30px;
	text-align: center;
}*/

.toolbar .controls{
	left: 9px;
	position: absolute;
	top: 9px;
}

.toolbar .controls li a.close{
	background-image: url('./img/Close.png');
	display: inline;
}

.toolbar .controls li a.minimize{
	background-image: url('./img/Minimize.png') no-repeat;
	display: inline;
	
}

.toolbar .controls li a.maximize{
	background-image: url('./img/Maximize.png') no-repeat;
	display: inline;
	
}

.toolbar .title-terminal{
	position: relative;
}




