@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(./fonts/ubuntu.woff) format('woff');
}

body{
	background-image: url('./gifs/SolarSystem.gif');
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    height:100%;
    width:100%;
}


#heading{
	font-family: Ubuntu, "times new roman", times, roman, serif;
	font-size: 15px;
	color: Red;
}

#heading:hover{
	color: Blue;
}



